<div class="row titleHolder">
	<h1>LLAMA POWER</h1>
</div>

<br /><br />

<div class="row runningLlamaWrapper">
	<div id="sun"></div>
	<div class="runningLlama">
		<div id="lbody"></div>

		<div id="backLegLWrap">
			<div id="backLegL"></div>
		</div>

		<div id="backLegR"></div>

		<div id="frontLegLWrap">
			<div id="frontLegL"></div>
		</div>

		<div id="frontLegR"></div>

		<div id="saiyanCharge"></div>

		<div id="hair"></div>
	</div>
</div>

<div class="row spriteHolder">
	<ul id="sprites">
		<li class="why"><%= link_to image_tag("/assets/images/why.png"), why_path %></li>
		<li class="what"><%= link_to image_tag("/assets/images/what.png"), what_path %></li>
		<li class="where"><%= link_to image_tag("/assets/images/where.png"), where_path %></li>
		<li class="how"><%= link_to image_tag("/assets/images/how.png"), how_path %></li>
	</ul>
</div>

<div class="row movingLlamaDesc">
	<h6>The animations on this page are made purely using CSS3 animations</h6>
</div>

<%= javascript_include_tag "index", 'data-turbolinks-track' => true %>