<div class="row titleHolder">
    <h1>Where are Llamas?</h1>
</div>

<br /><br />

<div class="Planets">
    <div class="planetContainer">

        <%= image_tag("/assets/images/solarSun.png", id: "solarSun") %>

        <div id="mercury-orbit">
            <%= image_tag("/assets/images/mercury.png", id: "mercury") %>
        </div>

        <div id='venus-orbit'>
            <%= image_tag("/assets/images/venus.png", id: "venus") %>
        </div>

        <div id='earth-orbit'>
            <%= image_tag("/assets/images/earth.png", id: "earth") %>
        </div>

        <div id="mars-orbit">
            <%= image_tag("/assets/images/mars.png", id: "mars") %>
        </div>

        <div id="jupiter-orbit">
            <%= image_tag("/assets/images/jupiter.png", id: "jupiter") %>
        </div>

        <div id="saturn-orbit">
            <%= image_tag("/assets/images/saturn.png", id: "saturn") %>
        </div>

        <div id="uranus-orbit">
            <%= image_tag("/assets/images/uranus.png", id: "uranus") %>
        </div>

        <div id="neptune-orbit">
            <%= image_tag("/assets/images/neptune.png", id: "neptune") %>
        </div>
    </div>
</div>

<br /><br />

<div class="row whereEarth">
    <%= image_tag("/assets/images/earth.png", id: "earthSentence") %>
    <h4>The only planet that llamas live on is Earth! Did you know that Earth is the only planet that benefits from llama power? Fun fact: we have the most llamas in the solar system. In fact, we have over 7 million llamas living on planet Earth. According to the formula from <%= link_to "Llama Power Calculator", "http://calculatorcroc.com/llama_power_calculator" %>:</h4>
    <table class="fraction" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td rowspan="2" nowrap="nowrap">
                <i>P</i> =  
            </td>
            <td nowrap="nowrap">
                <i>n</i> * (<i>k</i> * <i>s</i> / <i>f</i>)<sup>2</sup>
            </td>
        </tr>
        <tr>
            <td class="upper_line">
                (<i>y</i>/100) * <i>a</i>)
            </td>
        </tr>
    </table>
    <h4>the amount of llama power that Earth produces is around 13,230,000,000,000,000,000 tons of TNT!</h4>
    <div class="formulaVariables">
        <span> hi </span>
        <h5>P = LLama power!</h5>
        <h5><i>n</i> = Number of Llamas = 7,000,000</h5>
        <h5><i>y</i> = Average age in years = 15</h5>
        <h5><i>f</i> = Average fur length in inches = 4</h5>
        <h5><i>k</i> = Average neck length in inches = 45</h5>
        <h5><i>s</i> = Average spit velocity in miles per hour = 40</h5>
        <h5><i>a</i> = Average attitude level (10 being a drama llama) = 5</h5>
    </div>
</div>

<br /><br />

<div class="row movingLlamaDesc">
    <h6>The animations on this page are made purely using CSS3 animations</h6>
</div>

<%= javascript_include_tag "where" %>